body {
  height: 100vh;
  margin: 0;
}

#squares {
  flex-direction: column;
}

#squares > div {
  margin-bottom: 10px;
}

.square-base {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-yellow {
  background-color: rgb(255, 255, 145);
  border: 2px solid black;
}

.square-invisible {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(0, 0, 0, 0);
}

.square-correct {
  background-color: rgb(86, 255, 78);
  border: 2px solid black;
  transition: all 0.5s ease;
}

.square-incorrect {
  background-color: rgb(255, 53, 53);
  border: 2px solid black;
  transition: all 0.5s ease;
}

#math-solution {
  font-size: 2rem;
}

.num-highlight {
  border-radius: 50%;
  background-color: rgba(55, 111, 253, 0.488);
  border: 2px solid rgb(77, 77, 77);
  transition: all 0.5s ease;
  padding: 5px;
}